
* {
  margin: 0px;
  padding: 0px;
  font-family: cursive;
  color: blue;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: transparent;
}

body {
background-color: aqua;}

.tradeform {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  
}